<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/users/<%= user.id %>?_method=PUT">
      <label>E-mail</label>
      <input type="email" name="email" value="<%=user?.email%>"  placeholder="Informe seu e-mail" />
      <% if(errors && errors.email) { %>
      <span> <%=errors.email.msg %></span>
      <% } %>
      <label>Senha</label>
      <input type="password" name="password" placeholder="Informe sua senha" />
      <% if(errors && errors.password) { %>
      <span> <%=errors.password.msg %></span>
      <% } %>
      <label>Nome:</label>
      <input type="text" name="nome" value="<%=user?.nome%>" required />
      <label>Idade:</label>
      <input type="text" name="idade" value="<%=user?.idade%>"  required />
      <label>Sexo:</label>
      <input type="text" name="sexo" value="<%=user?.sexo%>"  required />
      <label>Endereço:</label>
      <input type="text" name="endereco" value="<%=user?.endereco%>" required />
      <button type="submit">Atualizar usuário</button>
    </form>
    <form method="POST" action="/users/<%= user.id %>?_method=DELETE">
        <button type="submit">Excluir usuário</button>
      </form>
  </body>
</html>
